.skills__barscontainer {
  margin-top: 10px;
  display:flex;
  justify-content: space-around;
}

.progress-bar-vertical {
  width: 20px;
  min-height: 300px;
  display: flex;
  align-items: flex-end;
  /* margin-right: 20px; */
  float: left;
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 1.1s ease;
  -o-transition: height 1.1s ease;
  transition: height 1.1s ease;
}

.skills__logocontainer{
  display:flex;
  justify-content: space-around;
}

.devicon{
  font-size:6vw;
}

.skills_singularskill{
  display:flex;
  flex-direction: column;
  align-items: center;
  transition:order 5s ease;
}
