.parcours{
}

.profile__container {
  text-align: center;
}
.profile__centeredcontainer {
  display: inline-block;
  position: relative;
  text-align: initial;
  margin: auto;
}

.profile__image {
  display: block;
  /* met dans la même zone d'effet de z-index */
  width: 18vw;
  max-width: 280px;
  min-width: 200px;
  height:auto;
  position: relative;
  border-radius:50%;
  border:5px solid var(--favcolor);
  text-shadow: 1px 1px;
  z-index: 1;
  margin: auto;
  transition: transform 1s;
}

.profile__mask{
  position:absolute;
  left:-75%;

  /* même taille que l'image */

  width: 100%;
  max-width: 280px;
  min-width: 200px;
  height:100%;
  z-index:1;
  /* même couleur que le fond */
  background-color: #3b3b3b;
}

.profile__txt {
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left:0;
  top: 50%;
  width:150%;
  height:100%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0;
  transition: transform 1s;
}

.profile__container:hover .profile__image {
  /* pour être sur que l'utilisateur passe sa souris sur ma photo, je prends le container de 100% */
  transform: translateX(-10em);
}

.profile__container:hover .profile__txt {
  transform: translateX(+8em) translateY(-50%);
  opacity:1;
}

.profile__txt li {
  font-size: 1.6rem;
  list-style: none;
  margin: 0.5em;
}

.pres__txt{
  width:70%;
  margin:50px auto;
  text-align: justify;
}

.pres__important{
  text-shadow: 0.15em 0.15em 0.07em rgba(0,0,0,0.7);
  font-weight:bold;
  color: var(--favcolor);
}
.pres__important abbr[title]{
  /* reset bootstrap */
  border:0;
}

@media screen and (max-width:719px){
  .pres__txt{
    width:87%;
  }
  .profile__txt, .profile__mask{
    display:none;
  }
  .profile__container:hover .profile__image {
    transform: none;
  }
  .profile__container:hover .profile__txt {
    transform: none;
  }
}
