.parcours{
}

.profile__container {
  text-align: center;
}
.profile__centeredcontainer {
  display: inline-block;
  position: relative;
  text-align: initial;
  margin: auto;
}
.profile__container:hover .profile__image {
  /* pour être sur que l'utilisateur passe sa souris sur ma photo, je prends le container de 100% */
  transform: translateX(-10em);
}
.profile__container:hover .profile__txt {
  transform: translateX(+5em) translateY(-50%);
  opacity:1;
}

.profile__image {
  display: block;
  /* met dans la même zone d'effet de z-index */
  width: 18vw;
  max-height: 100%;
  max-width: 280px;
  position: relative;
  border-radius:50%;
  border:5px solid var(--favcolor);
  text-shadow: 1px 1px;
  z-index: 1;
  margin: auto;
  transition: transform 1s;
}

.profile__txt {
  transition: transform 1s;
  position: absolute;
  left: 50%;
  top: 50%;
  width:85%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0;
  /* opacity:0; */

}
.profile__txt li {
  font-size: 1.6rem;
  list-style: none;
  margin: 0.5em;
}

.pres__txt{
  width:70%;
  margin:auto;
  text-align: justify;
}

.pres__important{
  text-shadow: 0.15em 0.15em 0.07em rgba(0,0,0,0.7);
  font-weight:bold;
  color: var(--favcolor);
}
.pres__important abbr[title]{
  /* reset bootstrap */
  border:0;
}

@media screen and (max-width:719px){
  .profile__txt{
    display:none;
  }
  .profile__container:hover .profile__image {
    transform: none;
  }
  .profile__container:hover .profile__txt {
    transform: none;
  }
}
