.creations .container-fluid{
  display:flex;
  justify-content: space-between;
}

.creations .container-fluid article{
  width:48%;
}

.creations__accordeon{
  overflow:hidden;
}

.accordeon__titre{
  border:1px solid grey;
  border-radius: 0.2em;
  cursor:pointer;
  margin:0;
  border-collapse: collapse;
  padding:5px;
}

.accordeon__titre--selected span.creations__projet, .creations__liste .creations__projet--selected{
  text-shadow:2px 2px 4px;
}
.accordeon__contentbox{
  overflow: hidden;
  text-align:center;
  height:0;

}

.accordeon__contentbox--open{
  height:auto;
}

.accordeon__desc{
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:11px;
  text-align:justify;
  border-bottom:1px solid grey;
  border-left:1px solid grey;
  border-right:1px solid grey;
  border-radius:0.2em;
  border-collapse: collapse;
}
.accordeon__desc p{
  margin-bottom:0.6rem;
}

.creations__projet{
  text-shadow: 0.15em 0.15em 0.07em rgba(0,0,0,0.7);
  cursor:pointer;
  font-weight:bold;
}
.creations__projet:hover{
  text-decoration: underline;
}
.accordeon__desc .creations__projet:hover{
  text-decoration: none;
  cursor:initial;
}
.creations__projet abbr[title]{
  /* reset bootstrap */
  border:0;
}

.creations__projet--speedup {color:#329bc3;}
.creations__projet--dmas    {color:#C66F19;}
.creations__projet--master  {color:#ff3232;}
.creations__projet--day     {color:#FFB6C1;}
.creations__projet--galimg  {color:#47ca4f;}
.creations__projet--choco   {color:#8f634a;}
.creations__projet--gans    {color:#fafb59;}
.creations__projet--hawaii  {color:#688302;}
.creations__projet--piracy  {color:#ababab;}
.creations__langage{
  color:grey;
}

@media screen and (max-width: 719px) {
  .creations .creations__projet{

  }
}
