/* ORGANISATION CSS : */
/* MÊME ORDRE QUE LE DOM HTML */

/*   Fonts           */
/*   Core            */
/*   Menu            */
/*   ImgDeGarde      */
/*   souris animée   */
/*   General/Divers  */




@font-face {
  /*___font titreportfolio___*/
  font-family:asgalt;
  src: url('../fonts/asgaltregular.ttf');
}
@font-face {
    font-family:Quando;
    src: url('../fonts/quando.woff2') format('woff2');
}
@font-face {
    font-family:opendys;
    src: url('../fonts/opendyslexic.woff') format('woff');
}
@font-face {
    font-family:myfont;
    src: url('../fonts/myfont.woff') format('woff');
}
@font-face {
    font-family:montserrat;
    src: url('../fonts/montserrat.woff') format('woff');
}

/************************** GENERAL **************************/
html{
	font-weight:200;
  font-size:62.5%;
  --favcolor:#e59400;
}
body{
  /* text-shadow: */
  font-size:1.7rem;
  font-family: montserrat;
  /* font-weight:600; */
	/*background-color:grey;*/
	/*background-color:#3B3B3B;*/
}

strong, .underline, .creations__projet, .pres__important{
  font-family: Quando;
}

p{
  text-align: justify;
}

h2{
  font-size: 3rem;
  margin: 0 10px 20px;
}
h4{
  font-size: 1.8rem;
}
.icon{
  color:inherit;
  font-style: normal;
  font-family:myfont;
}
.icon::before:hover{
  text-decoration: none;
}
.icon:hover{
  text-decoration: none;
}

/************************** MENU **************************/
.menu__container{
  z-index:99;
  position:fixed;
  left:0;
  width:20vw;
  height:100vh;
  min-width:300px;
  background-color: #202020;
  transform: translateX(-100%);
}
.menu__container--ready{
  /* class appliquée dans le css, sinon peut faire afficher le mouvement du translate lors de l'affichage du site */
  transition: transform 0.5s ease;
}
.menu__container--open{
  transform:initial;
}
.menu__togglebtn{
  position: absolute;
  top:40px;
  right:-40px;
  font-size:4rem;
  padding:1rem;
  border:1px solid #999;
  padding:0.5rem 1.7rem;
  transform:translateX(100%);
  transition: background-color 0.3s ease, color 0.3s ease;
  /* transition: color 0.3s ease; */
  background-color: rgba(42,42,42,0.9);
  color:#999;
  text-align: center;

}
.menu__togglebtn:hover{
  /* color:#999; */
  color:#ccc;
  background-color: rgba(100,100,100,0.7);
  text-decoration: none;
}
.menu{
  display:flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height:100%;
  color:#ddd;
}
.menu__logo{
  fill:var(--favcolor);
  width:150px;
  height:auto;
  -webkit-filter: drop-shadow( 3px 3px 1px #888888 );
  -moz-filter: drop-shadow( 3px 3px 1px #888888 );
  filter: drop-shadow( 3px 3px 1px #888888 );
}
.titreportfolio.titreportfolio--mini{
  line-height: 3.5rem;
  font-size: 5.5rem;
  text-shadow: 1.5px 1.5px 1px #888888;
}
.menu ul{
  padding:0;
  margin:0;
}
.menu li{
  text-align: center;
  border:1px solid #353535;
  list-style: none;
  /* background-color: #fff; */
  padding:1.4vh;
  margin:1.8vh;
  transition:background-color 0.5s ease;
}
.menu li a{
  padding:1.4vh;
}
.menu li:hover{
  background-color: #303030;
}
.menu a{
  text-decoration:inherit;
  color:inherit;
}
.menu a:hover{
  color:#fff;
}
.menu__blocmail{
  display:flex;
  justify-content: space-between;
}
.menu__blocmail li{
  margin-top:0;
  margin-bottom:0;
}
.menu__cv{
  line-height:3.5rem;
  font-size:5rem;
  color:var(--favcolor);
  transition:color 0.5s ease;
}
.menu__cv:hover{
  color:#ff330d;
}
.access{
  -moz-user-select:none;
  -webkit-user-select:none;
}
.access__item{
  margin:0.5em;
  color:inherit;
  font-weight: bold;
  text-decoration:none;
  cursor:pointer;
}
.access__item:hover{
  color:white;
  text-decoration: none;
}
.access__item--dysl{
  font-family:opendys;
}
.menu form{
  display:inline-block;
}
.menu button{
  border:0;
  background-color: transparent;
}

/************************** "PAGE" DE GARDE **************************/
.imgdegarde{
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.garde__backgroundimg{
  height:100%;
  width:100%;
  position:absolute;
  background-image: url(../img/motif.png);
  filter: brightness(23%);
}
.titreportfolio{
  line-height: 0.9em;
  font-family: asgalt,sans-serif;
  color: var(--favcolor);
  margin:0;
  font-size: 25rem;
  z-index:1;
  text-shadow: 3px 3px 1px #888888;
}

/******************** MOUSE IMAGE ANIMATION *************************/
.garde__mouse {
  /* rectangle de la souris */
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  opacity:0.8;
  transform: translate(-50%,-100%);
  z-index: 2;
}
.garde__mouse::before {
  /* molette de la souris */
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  opacity:0.8;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  z-index: 3;
}
@-webkit-keyframes sdb10 {
  0%  {-webkit-transform: translate(0, 0); opacity: 0;}
  40% {opacity: 1;}
  80% {-webkit-transform: translate(0, 20px); opacity: 0;}
  100% {opacity: 0;}
}
@keyframes sdb10 {
  0%  {transform: translate(0, 0); opacity: 0;}
  40% {opacity: 1;}
  80% {transform: translate(0, 20px); opacity: 0;}
  100% {opacity: 0;}
}



.underline{
	position:relative;
  text-decoration: none;
  z-index: 1;
  background:inherit;
  color:inherit;
}
.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

section{
  background-color: transparent;
  color:white;
  display:flex;
  justify-content: center;
}

.real__active{
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

/*par défaut*/
main{
background: url(../img/motifdarkcinquo.png) fixed top;
/* transition: background 1s; */
}
/*sinon, si existant*/
.real__active--speedup{  background: url(../img/screens/speedup.png) fixed top;    background-size:cover; }
.real__active--dmas{     background: url(../img/screens/dmas.png)    fixed top;    background-size:cover; }
.real__active--master{   background: url(../img/screens/master.png)  fixed top;    background-size:cover; }
.real__active--day{      background: url(../img/screens/day.png)     fixed top;    background-size:cover; }
.real__active--galimg{   background: url(../img/screens/galimg.png)  fixed top;    background-size:cover; }
.real__active--choco{    background: url(../img/screens/choco.png)   fixed top;    background-size:cover; }
.real__active--gans{     background: url(../img/screens/gans.png)    fixed center; background-size:cover; }
.real__active--hawaii{   background: url(../img/screens/hawaii.png)  fixed center; background-size:cover; }
.real__active--piracy{   background: url(../img/screens/piracy.png)  fixed center; background-repeat: no-repeat;}


/*___Général : section___*/
.section__container{
	width: 85%;
  margin: 12vh 0 0;
  padding: 25px 10px;
	/*padding: 0 15px;*/
  background:#3B3B3B;
  /* border-radius:4px; */
  border:10px solid #eee;
}
section:last-of-type .section__container{
  margin-bottom:5vh;
}
.html--dyslexie body,
.html--dyslexie .titreportfolio,
.html--dyslexie .underline,
.html--dyslexie .creations__titre,
.html--dyslexie .creations__soustitre,
.html--dyslexie .pres__important,
.html--dyslexie .creations__projet{
  font-family:opendys !important;
}
.html--dyslexie .titreportfolio{
  font-size: 16rem;
}
.html--dyslexie .titreportfolio--mini{
  font-size: 2.6rem;
}
/******************** FOOTER *************************/
.footer__list{
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: #202020;
  color:#777;
  height:5vh;
  padding:0;
  margin:0;
}


/*___Mobile Queries___*/
@media screen and (max-width:719px){
  .section__container, section:last-of-type .section__container{
  	width: 100%;
    margin:0;
  }
  .menu__togglebtn{
    top:25px;
    right:-25px;
    font-size:3.5rem;
  }
}
@media screen and (max-width:559px){
  .imgdegarde h1{
    font-size:15rem;
  }
  .menu__container{
    width:100vw;
  }
  .menu__togglebtn{
    top:25px;
    right:-25px;
    line-height:0.7em;
    padding:1rem 1rem;
  }
  .menu__togglebtn--opened{
    right:25px;
    transform:translateX(0);
  }
  .menu__togglebtn .icon{
    font-size:3.5rem;
  }
}
