@import url(https://fonts.googleapis.com/css?family=Quando);
@font-face {
    font-family:asgalt;
    src: url('../asgaltregular.ttf');
}
@font-face {
    font-family:montserrat;
    src: url(https://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE4o3ZslTYfJv0R05CazkwN8.woff) format('woff');
}
html{
	/* font-family: Quando; */
  /* font-family: "Merriweather", Georgia, serif; */
	font-weight:200;
  font-size:62.5%;
  --favcolor:#e59400;
}

body{
  /* text-shadow: */
  font-size:1.7rem;
  font-family: montserrat;
  /* font-weight:600; */
	/*background-color:grey;*/
	/*background-color:#3B3B3B;*/
}

strong, .underline, .creations__projet, .pres__important{
  font-family: Quando;

}

header{
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background-color:#3B3B3B;*/
  /*filter: brightness(-50%);*/
}

h2{
  /* 10px sauf en bas 20px */
  margin: 0 10px 20px;
}

.header__backgroundimg{
  height:100%;
  width:100%;
  position:absolute;
  background-image: url(../img/motif.png);
  filter: brightness(23%);
  z-index:0;
}

header h1{
	line-height: 0.9em;
	font-family: asgalt,sans-serif;
	color: var(--favcolor);
  margin:0;
	font-size: 25rem;
  z-index:2;
  text-shadow: 3px 3px 1px #888888;
}

#mattercanvas{
	width:100%;
}

.underline{
	position:relative;
  text-decoration: none;
  z-index: 1;
  background:inherit;
  color:inherit;
}

.underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

section{

	/*padding: 30px 0;*/
  background-color: transparent;
  color:white;
  display:flex;
  justify-content: center;
}

.real__active{
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
}

/*par défaut*/
main{
background: url(../img/motifdarkcinquo.png) fixed top;
/* transition: background 1s; */
}
/*sinon, si existant*/
.real__active--speedup{background: url(../img/screens/speedup.png) fixed top; background-size:cover; }
.real__active--dmas{background: url(../img/screens/dmas.png) fixed top; background-size:cover; }
.real__active--master{background: url(../img/screens/master.png) fixed top; background-size:cover; }
.real__active--day{background: url(../img/screens/day.png) fixed top; background-size:cover; }
.real__active--galimg{background: url(../img/screens/galimg.png) fixed top; background-size:cover; }
.real__active--choco{background: url(../img/screens/choco.png) fixed top; background-size:cover; }
.real__active--gans{background: url(../img/screens/gans.png) fixed center; background-size:cover; }
.real__active--hawaii{background: url(../img/screens/hawaii.png) fixed center; background-size:cover; }
.real__active--piracy{background: url(../img/screens/piracy.png) fixed center; background-repeat: no-repeat;}

section:before{
  /* content:""; */
  /* position:absolute; */
  /* height:100%; */
  /* width:100%; */
  /* z-index:-1; */
  /* background-attachment: fixed; */
	/* background-image: url(../screens/motif.png); */
  /* filter: brightness(85%); */
  /* filter: brightness(20%); */
}

section>.container-fluid{
	width: 85%;
  margin: 10vh 0 0;
  padding: 25px 10px;
	/*padding: 0 15px;*/
  background:#3B3B3B;
  /* border-radius:4px; */
  border:10px solid #eee;
}
section:last-child>.container-fluid{
  margin-bottom:5vh;
}
